@using PickingRoute.Models

<EditForm Model="@ProductItem" OnValidSubmit="OnSubmit" style="display: inline">

	<DataAnnotationsValidator />

	<InputText @bind-Value="ProductItem.ProductName" placeholder="Product Name" />
	<ValidationMessage For="@(() => ProductItem.ProductName)" style="display: inline"/>

	<InputNumber @bind-Value="ProductItem.strangeLocationX" placeholder="Location X" />
	<ValidationMessage For="@(() => ProductItem.strangeLocationX)" style="display: inline" />

	<ValidationMessage For="@(() => ProductItem.strangeLocationY)" style="display: inline" />
	<InputNumber @bind-Value="ProductItem.strangeLocationY" placeholder="Location Y"/>

	<button type="submit" class="btn btn-sm btn-primary me-2">@ButtonText</button>

</EditForm>

@code {

	[Parameter] public ProductItem ProductItem { get; set; } = new ProductItem();
	[Parameter] public string ButtonText { get; set; } = "Submit";
	[Parameter] public string Placeholder { get; set; } = "";
	[Parameter] public Func<Task> OnSubmit { get; set; } = () => Task.CompletedTask;
}
