@page "/viewroute"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using PickingRoute.Data
@using PickingRoute.Models
@using PickingRoute.Services
@inject ApplicationDbContext dbContext
@inject RouteCalculator RouteCalculator


<h1>ピッキングルート</h1>

<!--倉庫の配置図-->
<div class="svg-container">
	<svg width="800" height="600" tabindex="0">

		@foreach (var path in _Paths)
		{
			<line x1="@path.StartX" y1="@path.StartY" x2="@path.EndX" y2="@path.EndY" class="line-deselected" stroke-width="10" />
		}

		@foreach (var shelf in _Shelves)
		{
			<!-- 棚の位置とサイズを描画 -->
			<rect x="@shelf.X" y="@shelf.Y" width="@shelf.Width" height="@shelf.Height" class="rect-deselected"  />

			<foreignObject x="@(shelf.X)" y="@(shelf.Y)" width="450" height="30" style="pointer-events: none;">
				<body xmlns="http://www.w3.org/1999/xhtml" class="foreign-object-body">
					<div class="form-control-plaintext input-plaintext">@shelf.Name</div>

				</body>
			</foreignObject>
		}
		<!-- 最適経路を描画 -->
		@for (int i = 0; i < routes.Count - 1; i++)
		{
			var pointA = routes[i];
			var pointB = routes[i + 1];

			<!-- 経路のラインを描画 -->
			<line x1="@pointA.X" y1="@pointA.Y" x2="@pointB.X" y2="@pointB.Y" stroke="rgba(173, 216, 230, 0.8)" stroke-width="10" />
		}


	</svg>
</div>



@code {

	private List<Shelf> _Shelves = new();
	private List<WarehousePath> _Paths = new();
	private List<RoutePoint> routes = new List<RoutePoint>();

	/// <summary>
	/// 初期化処理
	/// </summary>
	/// <returns></returns>
	protected override async Task OnInitializedAsync()
	{
		_Shelves = await dbContext.Shelves.ToListAsync();
		_Paths = await dbContext.Paths.ToListAsync();

		        // テストデータ
        routes = new List<RoutePoint>
        {
            new RoutePoint { X = 74, Y = 102 },
            new RoutePoint { X = 74, Y = 102 },
            new RoutePoint { X = 80, Y = 108 },
            new RoutePoint { X = 169.8548716204727, Y = 106.85096072096582 }
        };
	}

}
